.registrationBody
{
    background-color: #ccc;
    height: 100vh;
    margin: auto;
    margin-top: 2%;
    overflow-y: scroll;
}

.registMeRow:hover{
    background-color: #ccc;
}

.registrationBox{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
.AdminDataTable{
    width: 95%;
}


@media (max-width:500px){
    .registrationBox{
        width: 90%;
        margin: auto;
        margin-top: 2%;
        overflow-x: scroll;
    }
}