.pageCover2 {
  background-image: url("./3.jpg");
  min-width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.impetusLogo1 {
  background-image: url("./impetus-logo-navbar.png");
  min-width: 50%;
  height: 40vh;
  position: absolute;
  z-index: 5;
  background-repeat: no-repeat;
  left: 45%;
}
.mainContent1 {
  background-color: #1b3b68;
  min-height: 100vh;
  padding-top: 5%;
}
.aboutFirst p {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3%;
}
.aboutFirst .heading{
    text-align: center;
}
.divP p{
  width: 90%;
  margin: auto;
  color: white;
  font-size: 18px;
}



.about p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 5%;
  text-shadow: 0 0 8px rgb(0, 0, 0);
}
@media (max-width:420px){
.pageCover2{
  background-image: url("./3.jpg");
  min-width: 100%;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
  .about p {
    font-size: 2rem;

  }
.aboutFirst p {
  font-size: 1.2rem;
}
}  